services:
  mongodb:
    build:
      context: ./mongodb
      dockerfile: Dockerfile
    image: balumpcs007/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  catalogue:
    build: ./catalogue
    image: balumpcs007/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data 
  mysql:
    build: ./mysql
    image: balumpcs007/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    build: ./user
    image: balumpcs007/user:v1
    container_name: user
    depends_on:
      - mongodb
      - rabbitmq
  cart:
    build: ./cart
    image: balumpcs007/cart:v1
    container_name: cart
    depends_on:
      - redis
      - catalogue
  shipping:
    build: ./shipping
    image: balumpcs007/shipping:v1
    container_name: shipping
    depends_on:
      - cart
      - mysql
  payment:
    build: ./payment
    image: balumpcs007/payment:v1
    container_name: payment
    depends_on:
      - cart
      - user
      - rabbitmq
  frontend:
    build: ./frontend
    image: balumpcs007/frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false
volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq:
